* {
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}

body {
background-color: #eee;
font-family: 'Young+Serif&display=swap', cursive;

}

.main {
background-color: #fff;
display: flex;
width: 95%;
max-width: 1000px;
margin: auto;
box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
flex-wrap: wrap;

}
.item {
    max-height: 265px;
    max-height: 490px;
    width: calc(50% - 10px);
    height: calc(96vw / 2/ 16 * 9);
    background-color: dodgerblue;
    margin: 5px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: contain; 
} 
.item:hover {
    opacity: 1;
    transform: scale(1.2) rotate(5deg);
    z-index: 10;
    box-shadow: 0 0 200px 30px rgba(0,0,0,0.4);
}
.heading {
    font-size: 48px;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
.item {
    display: block;
    opacity: 0.65;
    transition: opacity 0.4s ease, transform 0.2s ease-in, box-shadow 0.3s ease-out;
}